<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://arcusis.github.io/Zerm/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>sVVWOPSnxppsLXs+3gzuMK0AeXyBdzS+uzDKnRQSWK0=</string>
	<key>LSUIElement</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Zerm needs access to your microphone to record audio for transcription.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Zerm needs to interact with your browser to detect the current website for applying website-specific configurations.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Zerm needs screen recording access to understand context from your screen for improved transcription accuracy.</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Zerm needs to record the audio your Mac is playing so it can capture and transcribe the other participants in a meeting.</string>
</dict>
</plist>
